<app-nav-paciente></app-nav-paciente>
<div class="solicitar-turno-card">
  <h2>Solicitar Turno</h2>

  <form (ngSubmit)="solicitarTurno()">
    <div>
      <label>Especialista:</label>
      <div class="options-container">
        <div class="options-container">
          <div 
            *ngFor="let especialista of especialistas" 
            (click)="selectedEspecialista = especialista.id; onEspecialistaChange()"
            [class.selected]="especialista.id === selectedEspecialista"
            class="option-item card-especialista">
            
            <img *ngIf="especialista.foto1" [src]="especialista.foto1" class="foto-especialista" alt="Foto del especialista">
            
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedEspecialista">
      <label>Especialidad:</label>
      <div class="options-container">
        <div 
          *ngFor="let especialidad of especialidades" 
          (click)="selectedEspecialidad = especialidad; generarFechasDisponibles()"
          [class.selected]="especialidad === selectedEspecialidad"
          class="option-item card-especialidad">
          
          <img [src]="obtenerImagenEspecialidad(especialidad)" class="foto-especialidad" alt="Imagen de la especialidad">
          <p>{{especialidad}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="selectedEspecialidad">
      <label>Fecha:</label>
      <div class="options-container">
        <div 
          *ngFor="let fecha of fechasDisponibles" 
          (click)="selectedFecha = fecha; cargarHorarios()" 
          [class.selected]="fecha === selectedFecha"
          class="option-item card-fecha">
          {{ fecha }}
        </div>
      </div>
    </div>

    <div *ngIf="selectedFecha">
      <label>Hora:</label>
      <div class="options-container">
        <div 
          *ngFor="let hora of turnosDisponibles" 
          (click)="selectedHora = hora" 
          [class.selected]="hora === selectedHora"
          class="option-item ">
          {{ hora | formatoHora}}
        </div>
      </div>
    </div>

    <div>
      <button type="submit" [disabled]="!selectedHora">Solicitar Turno</button>
    </div>
  </form>
</div>


<div *ngIf="showErrorModal" class="modal-overlay">
  <div class="modal-content">
    <h2>{{tituloModal}}</h2>
    <p>{{ mensaje }}</p>
    <button (click)="closeModal()">Cerrar</button>
  </div>
</div>

<app-spinner *ngIf="spinner"></app-spinner>
