
<!-- Contenido principal de la landing page -->
<div class="container mt-5">
    <div class="card card-landing">
      <div class="row g-0">
        <!-- Descripción a la izquierda -->
        <div class="col-md-6 d-flex align-items-center">
          <div class="card-body">
            <h5 class="card-title text-light">Bienvenido a la Clínica Teira</h5>
            <p class="card-text text-light">
              En la Clínica de Teira, nos dedicamos a ofrecer atención médica de calidad, con un equipo altamente capacitado y las mejores instalaciones. 
              Contamos con tecnología avanzada para diagnosticar y tratar diversas enfermedades. 
              Nuestros servicios incluyen especialidades médicas de diversos tipos, podes reservar tu turno 24/7 y más. ¡Tu salud es nuestra prioridad!
            </p>
          </div>
        </div>
        <!-- Imagen a la derecha -->
        <div class="col-md-6">
          <img src="https://www.lupusasturias.org/data/fotos/noticias/g_20_historia_clinica_.png" class="img-fluid rounded-end" alt="Imagen de la clínica">
        </div>

      </div>
      <div class="row g-0">
        <img src="https://cdn.icon-icons.com/icons2/2093/PNG/512/hospital_health_clinic_urban_buildings_medical_icon_128575.png" class="imagenHospital" alt="Imagen de la clínica">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/024/072/760/small/illustration-of-a-female-doctor-examining-a-patient-in-a-clinic-illustration-of-a-female-patient-checking-her-health-to-the-doctor-free-png.png" class="imagenHospital" alt="Imagen de la clínica">
      </div>
    </div>
  </div>