<div *ngIf="listaUsuarios.length > 0">
    <div class="d-flex flex-column">
      <div *ngFor="let usuario of listaUsuarios" class="card2 mb-4 card2-background" style="width: 100%;">
        
        <!-- Mostrar solo los especialistas pendientes -->
        <div *ngIf="usuario.tipoUsuario === 'especialista' && usuario.habilitado === 'pendiente'" class="row no-gutters">
          <!-- Columna 1: Datos del usuario -->
          <div class="col-md-8">
            <div class="card2-body">
              <h5 class="card2-title">{{ usuario.nombre }} {{ usuario.apellido }}</h5>
              <p class="card2-text">
                <strong>Edad:</strong> {{ usuario.edad }}<br>
                <strong>DNI:</strong> {{ usuario.DNI }}<br>
                <strong>Correo:</strong> {{ usuario.correo }}<br>
              </p>
  
              <!-- Datos adicionales si es especialista -->
              <div *ngIf="usuario.tipoUsuario === 'especialista'">
                <p><strong>Especialidad:</strong> {{ usuario.especialidad }}</p>
                <p><strong>Habilitado:</strong> {{ usuario.habilitado }}</p>
              </div>
            </div>
          </div>
  
          <!-- Columna 2: Imágenes del usuario -->
          <div class="col-md-4 card2Imagenes">
            <div class="card2-body">
              <!-- Foto 1 -->
              <img *ngIf="usuario.foto1" [src]="usuario.foto1" class="img-fluid mb-2" alt="Foto de Usuario">
            </div>
          </div>
        </div>
  
        <!-- Botones para aceptar o rechazar -->
        <div *ngIf="usuario.tipoUsuario === 'especialista' && usuario.habilitado === 'pendiente'" class="d-flex justify-content-between p-3">
          <button class="btn btn-success" (click)="aceptarEspecialista(usuario.id)">ACEPTAR</button>
          <button class="btn btn-danger" (click)="rechazarEspecialista(usuario.id)">RECHAZAR</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Si no hay usuarios -->
  <div *ngIf="listaUsuarios.length === 0">
    <p>No se encontraron usuarios.</p>
  </div>
  
  <app-spinner *ngIf="spinner"></app-spinner>
  