<app-nav-default></app-nav-default>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <h2 style="color:white">Registrarse</h2>

        <div class="auto-fill-buttons">
            <!-- Botón Especialista -->
            <button 
              (click)="usuario = 'especialista'" 
              class="profile-button" 
              [ngClass]="{'selected': usuario === 'especialista'}">
              <img [src]="'https://static.vecteezy.com/system/resources/previews/018/914/708/non_2x/doctor-woman-flat-icon-png.png'" alt="Imagen de especialista" class="profile-img">
            </button>
          
            <!-- Botón Paciente -->
            <button 
              (click)="usuario = 'paciente'" 
              class="profile-button" 
              [ngClass]="{'selected': usuario === 'paciente'}">
              <img [src]="'https://cdn-icons-png.flaticon.com/512/387/387585.png'" alt="Imagen de paciente" class="profile-img">
            </button>
          </div>
          
        
        <app-register-especialista *ngIf="usuario === 'especialista'"> </app-register-especialista>
        <app-register-paciente *ngIf="usuario === 'paciente'"> </app-register-paciente>

        <!-- Already have an account? -->
        <div id="formFooter">
            <a class="underlineHover" [routerLink]="['/login']">Ya tienes una cuenta? Inicia sesion!</a>
        </div>
    </div>
</div>

<!-- Modal de error -->
<div *ngIf="showErrorModal" class="modal-overlay">
  <div class="modal-content">
    <h2>Error</h2>
    <p>{{ errorMessage }}</p>
    <button (click)="closeModal()">Cerrar</button>
  </div>
</div>
