<form [formGroup]="formAdministrador" (ngSubmit)="RegistrarAdministrador()">
    <!-- Nombre -->
    <div id="nombre">
      <input type="text" class="fadeIn second" name="nombre" placeholder="Nombre" formControlName="nombre">
      <ng-container *ngIf="formAdministrador.get('nombre')?.hasError('pattern') && formAdministrador.get('nombre')?.touched">
        <br>
        <small class="text-danger">El nombre sólo debe contener letras</small>
      </ng-container>
    </div>
  
    <!-- Apellido -->
    <div id="apellido">
      <input type="text" class="fadeIn second" name="apellido" placeholder="Apellido" formControlName="apellido">
      <ng-container *ngIf="formAdministrador.get('apellido')?.hasError('pattern') && formAdministrador.get('apellido')?.touched">
        <br>
        <small class="text-danger">El apellido sólo debe contener letras</small>
      </ng-container>
    </div>
  
    <!-- Edad -->
    <div id="edad">
      <input type="text" class="fadeIn third" name="edad" placeholder="Edad" formControlName="edad">
      <ng-container *ngIf="formAdministrador.get('edad')?.hasError('pattern') && formAdministrador.get('edad')?.touched">
        <br>
        <small class="text-danger">La edad debe ser un número</small>
      </ng-container>
    </div>
  
    <!-- DNI -->
    <div id="DNI">
      <input type="text" class="fadeIn third" name="DNI" placeholder="DNI" formControlName="DNI">
      <ng-container *ngIf="formAdministrador.get('DNI')?.hasError('pattern') && formAdministrador.get('DNI')?.touched">
        <br>
        <small class="text-danger">El DNI debe ser un número</small>
      </ng-container>
    </div>
  
    <!-- Correo -->
    <div id="correo">
      <input type="text" class="fadeIn third red" name="correo" placeholder="Correo" formControlName="correo">
      <ng-container *ngIf="formAdministrador.get('correo')?.hasError('email') && formAdministrador.get('correo')?.touched">
        <br>
        <small class="text-danger">Formato de correo inválido</small>
      </ng-container>
    </div>
  
    <!-- Contraseña -->
    <div id="password">
      <input type="password" class="fadeIn third" name="password" placeholder="Contraseña" formControlName="clave">
      <ng-container *ngIf="formAdministrador.get('clave')?.hasError('minlength') && formAdministrador.get('clave')?.touched">
        <br>
        <small class="text-danger">
          La clave debe tener mínimo {{formAdministrador.get('clave')?.getError('minlength').requiredLength}} caracteres
        </small>
      </ng-container>
    </div>
  
    <!-- Foto de perfil -->
    <div id="foto" class="fadeIn third">
      <input type="file" id="fotoInput" (change)="onFileSelected($event)" accept="image/*" style="display: none;" #fileInput>
      <label for="fotoInput" class="custom-file-upload">
        <span id="file-name">Seleccionar Imagen</span>
      </label>
      <img *ngIf="previewUrl" [src]="previewUrl" alt="Vista previa" class="preview-image">
      <small class="text-danger" *ngIf="formAdministrador.get('foto')?.hasError('required') && formAdministrador.get('foto')?.touched">
        La foto es obligatoria
      </small>
    </div>
  
    <input type="submit" class="fadeIn fourth" value="Registrarse" [disabled]="formAdministrador.invalid">
  </form>
  
  <!-- Modal -->
  <div *ngIf="showErrorModal" class="modal-overlay">
    <div class="modal-content">
      <h2>{{tituloModal}}</h2>
      <p>{{ errorMessage }}</p>
      <button (click)="closeModal()">Cerrar</button>
    </div>
  </div>
  
  <app-spinner *ngIf="spinner"></app-spinner>
  