<form [formGroup]="formEspecialista" (ngSubmit)="RegistrarsEspecialista()">
    <!-- Nombre -->
    <div id="nombre">
      <input type="text" class="fadeIn second" name="nombre" placeholder="Nombre" formControlName="nombre">
      <ng-container *ngIf="formEspecialista.get('nombre')?.hasError('pattern') && formEspecialista.get('nombre')?.touched">
        <br>
        <small class="text-danger">El nombre sólo debe contener letras</small>
      </ng-container>
    </div>
  
    <!-- Apellido -->
    <div id="apellido">
      <input type="text" class="fadeIn second" name="apellido" placeholder="Apellido" formControlName="apellido">
      <ng-container *ngIf="formEspecialista.get('apellido')?.hasError('pattern') && formEspecialista.get('apellido')?.touched">
        <br>
        <small class="text-danger">El apellido sólo debe contener letras</small>
      </ng-container>
    </div>
  
    <!-- Edad -->
    <div id="edad">
      <input type="text" class="fadeIn third" name="edad" placeholder="Edad" formControlName="edad">
      <ng-container *ngIf="formEspecialista.get('edad')?.hasError('pattern') && formEspecialista.get('edad')?.touched">
        <br>
        <small class="text-danger">La edad debe ser un número</small>
      </ng-container>
      <ng-container *ngIf="formEspecialista.get('edad')?.hasError('mayorDe18') && formEspecialista.get('edad')?.touched">
        <br>
        <small class="text-danger">Debes tener más de 18 años.</small>
      </ng-container>
    </div>
  
    <!-- DNI -->
    <div id="DNI">
      <input type="text" class="fadeIn third" name="DNI" placeholder="DNI" formControlName="DNI">
      <ng-container *ngIf="formEspecialista.get('DNI')?.hasError('pattern') && formEspecialista.get('DNI')?.touched">
        <br>
        <small class="text-danger">DNI invalido</small>
      </ng-container>
    </div>
  
    <!-- Correo -->
    <div id="correo">
      <input type="text" class="fadeIn third red" name="correo" placeholder="Correo" formControlName="correo">
      <ng-container *ngIf="formEspecialista.get('correo')?.hasError('email') && formEspecialista.get('correo')?.touched">
        <br>
        <small class="text-danger">Formato de correo inválido</small>
      </ng-container>
    </div>
  
    <!-- Contraseña -->
    <div id="password">
      <input type="password" class="fadeIn third" name="password" placeholder="Contraseña" formControlName="clave">
      <ng-container *ngIf="formEspecialista.get('clave')?.hasError('minlength') && formEspecialista.get('clave')?.touched">
        <br>
        <small class="text-danger">
          La clave debe tener mínimo {{formEspecialista.get('clave')?.getError('minlength').requiredLength}} caracteres
        </small>
      </ng-container>
    </div>
  
    <!-- Especialidades -->
    <div id="especialidad" class="especialidad">
        <div class="fadeIn third especialidadesDeLosUsuarios">
            <H4>ESPECIALIDAD:</H4>
            <label class="TextosCositos">
              <input type="checkbox" formControlName="cardiologia">
              Cardiología
            </label>
            <label class="TextosCositos">
              <input type="checkbox" formControlName="dermatologia">
              Dermatología
            </label>
            <label class="TextosCositos">
              <input type="checkbox" formControlName="pediatria">
              Pediatría
            </label>
            <label class="TextosCositos">
              <input type="checkbox" formControlName="neurologia">
              Neurología
            </label>
            <label class="TextosCositos">
              <input type="checkbox" formControlName="otra" (change)="onOtraChange()">
              Otra
            </label>
          </div>
          
  
      <!-- Mostrar inputs para especialidades personalizadas si se marca "Otra" -->
      <div *ngIf="formEspecialista.get('otra')?.value" id="especialidadPersonalizada">
        <div formArrayName="especialidadesPersonalizadas">
          <div *ngFor="let control of especialidadesPersonalizadas.controls; let i = index" [formGroupName]="i">
            <input type="text" class="fadeIn third" placeholder="Especifique su especialidad" formControlName="nombre">
            <button type="button" (click)="removeEspecialidad(i)">Eliminar</button>
            
          </div>
          <button type="button" (click)="addEspecialidad()">Agregar Especialidad Personalizada</button>
          
        </div>
      </div>
    </div>
  
    <!-- Foto -->
    <div id="foto" class="fadeIn third">
      <input type="file" id="fotoInput" (change)="onFileSelected($event)" accept="image/*" style="display: none;" #fileInput>
      <label for="fotoInput" class="custom-file-upload">
        <span id="file-name">Seleccionar Imagen</span>
      </label>
      <img *ngIf="previewUrl" [src]="previewUrl" alt="Vista previa" class="preview-image">
      <small class="text-danger" *ngIf="formEspecialista.get('foto')?.hasError('required') && formEspecialista.get('foto')?.touched">
        La foto es obligatoria
      </small>
    </div>
  
    <!-- Submit -->
    <input type="submit" class="fadeIn fourth" value="Registrarse" [disabled]="formEspecialista.invalid">
  </form>
  
  <!-- Modal -->
  <div *ngIf="showErrorModal" class="modal-overlay">
    <div class="modal-content">
      <h2>{{tituloModal}}</h2>
      <p>{{ errorMessage }}</p>
      <button (click)="closeModal()">Cerrar</button>
    </div>
  </div>
  
  <app-spinner *ngIf="spinner"></app-spinner>
  